<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.25">
    <title>병해충 예측 프로그램</title>
</head>
<body>

<h2>병해충 예측 프로그램</h2>
<h4>사진을 업로드 후 제출 버튼을 클릭해주세요</h4>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
	<p>
		<input type="file" name="file" autocomplete="off" required>
	</p>
    </dl>
    <p>
	<input type="submit" name="submit" value="Submit">
    </p>
</form>

<p style="color:MediumSeaGreen;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        사진의 병해충은 <h3 style="color:MediumSeaGreen;"><u>{{messages[0] }}</u></h3><br>
        <img src="{{messages[1] }}" width="300", height="255">

        {% if messages[0] == "상추노균병" %}
            <p>방제법: </p>
            <ul>
                <li>저온 다습한 조건에서 발생하기 쉬운 병입니다.</li>
                <li>등록약제는 미리카트(액상), 퀸텍(액상)이 있습니다.</li>
		<img src='미리카트_퀸텍.jpg', width="300", height="255">
            </ul>
        {% elif messages[0] == "담배가루이" %}
            <p>방제법: </p>
            <ul>
                <li>장미 이외의 작물에서는 약제를 통한 방제 보다는 끈끈이트랩을 설치하여 발생초기 철저한 방제가 필요합니다.</li>
                <li>담배가루이에 감염된 작물은 처분하고, 외부에서 유입되는 것을 차단합니다.</li>
            </ul>
        {% elif messages[0] == "상추균핵병" %}
            <p>방제법: </p>
            <ul>
                <li>습도가 높고, 기온이 15～25℃의 서늘한 상태에서 병 발생이 심하게 나타납니다.</li>
                <li>등록약제는 몬카트(유), 크린캡(유), 팔라딘(시설용)이 있습니다.</li>
            </ul>
        {% elif messages[0] == "복숭아혹진딧물" %}
            <p>방제법: </p>
            <ul>
                <li>유시충이 날아와 증식을 시작하는 특징을 가지고 있습니다.</li>
                <li>방제약제를 잎 뒤면에 충분히 묻도록 뿌려줍니다. 이 후 방제시에는 동일한 약제를 피하고 다른 약제와 번갈아 가며 살포토록 합니다.</li>
            </ul>
        {% endif %}
      {% endif %}
    {% endwith %}
</p>

</body>
</html>
